<h1> Heroes </h1>
<hr>
<!-- esta creando una lista de descripcion de heroes -->
<dl>
  <dt>Nombre: </dt>
  <dd> {{nombre}} </dd>
  <dt>Edad </dt>
  <dd> {{edad}} </dd>
  <dt>Modoto: </dt>
  <dd> {{unirNameAndAge()}}  años </dd>
  <dt>Capitalizado </dt>
  <dd> {{ capitalizado }} </dd>
</dl>

<button
 (click)="cambiarNombre('Irom man')"
*ngIf= "visible"
 class="btn btn-primary mx-2">
 cambiar nombre
</button>

<button class="btn btn-outline-primary" (click)="cambiaEdad(90)" >cambiar edad </button>

<button class= "btn  btn-outline-primary mx-2"   (click)="ocultarBoton()"> mostrar botones </button>
<button class= "btn  btn-outline-primary"   (click)="mostrarBoton()"> ocultar botones </button>
